.words{
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    border:solid 2px teal;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(140, 252, 228) 0, rgb(46, 207, 159));
    list-style-type: none;
}